@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<h1>@ViewBag.ErrorMessage</h1>
   <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico">
<h3><a href="/Login/Login">Login Page</a></h3>